{{> head}}

{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Patos chidos</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus dolores ad architecto recusandae voluptatum sequi sint! Rerum fuga aperiam eveniet tempora quidem ullam, explicabo, quo dolor, maiores culpa facere voluptates.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/ducks.png" class="img-thumbnail">
    </div>

</div>

{{> footer}}